{% extends 'base.html' %} 
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}{{user}}'s Profile{%endblock%} 
{% block page_heading %}{{user}}'s Profile{% endblock %} 
{% block content %}
<div class="container">
    
    <i class="far fa-user"></i><p>{{ profile.email }}</p>
    <img src="static/img/tshirt.jpg" class="img-fluid" alt="Responsive image">
</div>
<div id="accordion">
    {% for post in user_posts %}
        <div class="card">
            <div class="card-header" id="heading-{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}"  aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                <h5 class="mb-0">
                    {{ post.title }}: {{ post.author }}
                </h5>
            </div>
    
            <div id="collapse-{{ forloop.counter }}" class="collapse show" aria-labelledby="heading-{{ forloop.counter }}" data-parent="#accordion">
                <div class="card-body">
                    <p>{{ post.content|truncatewords:30 }}</p>
                    <p><a href="{% url 'post_detail' post.id %}" class="btn btn-default">Read more</a></p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{post.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                </div>
            </div>
        </div>
        {% comment %}
        {% block collapse_js %}
            <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
        {% endblock %}
        {% endcomment %}
    {% endfor %}
</div>
{% endblock %}
