{% extends 'base.html' %} 
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}{{user}}'s Profile{%endblock%} 
{% block page_heading %}{{user}}'s Profile{% endblock %} 
{% block myissues %}
<div class="container-fluid">
<div class="row">
<div class="col-md-2">
    <div class="card card-cascade">
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
    
            <!-- Title -->
            <h4 class="card-title"><strong>{{ profile.email }}</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Profile</h6>
            <!-- Text -->
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
            </p>
            <a href="{% url 'new_post' %}" class="btn btn-primary">New Issue</a>
        </div>
    </div>
    
    
    
    <!--<div class="card " style="width: 18rem;">-->
    <!--    <img class="card-img-top" src="/media/{{ post.image }}" alt="Card image cap">-->
    <!--    <div class="card-body">-->
    <!--        <h5 class="card-title">{{ profile.email }}</h5>-->
    <!--        <p class="card-text">Your Profile</p>-->
    <!--        <a href="{% url 'new_post' %}" class="btn btn-primary">New Issue</a>-->
    <!--    </div>-->
    <!--</div>-->
</div>

<div class="col-md-8">
<div id="accordion">
    {% for post in user_posts %}
        <div class="card">
            <div class="card-header" id="heading-{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}"  aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                <h5 class="mb-0">
                    {{ post.title }}: {{ post.author }}
                </h5>
            </div>
    
            <div id="collapse-{{ forloop.counter }}" class="collapse show" aria-labelledby="heading-{{ forloop.counter }}" data-parent="#accordion">
                <div class="card-body">
                    <p>{{ post.content|truncatewords:30 }}</p>
                    <p><a href="{% url 'post_detail' post.id %}" class="btn btn-default">Read more</a></p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{post.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                </div>
            </div>
        </div>
        {% comment %}
        {% block collapse_js %}
            <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
        {% endblock %}
        {% endcomment %}
    {% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}




